<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>a date night out of this world</title>
  </head>
  <body class="font-Poppins">
    <!-- Header -->
    <header>
      <nav class="container flex items-center py-4 mt-4 sm:mt-12">
        <div class="py-1"><img src="https://media.discordapp.net/attachments/1159600572660461599/1162683164330819634/Figure_1uh.png" alt="" /></div>
        <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-bookmark-blue uppercase text-xs">
          <li class="cursor-pointer">the date</li>
          <li class="cursor-pointer">the gift</li>
          <li class="cursor-pointer">the music</li>
<!--          <button type="button" class="bg-bookmark-red text-white rounded-md px-7 py-3 uppercase">Login</button> -->
        </ul>
        <div class="flex sm:hidden flex-1 justify-end">
          <i class="text-2xl fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <!-- Hero -->
    <section class="relative">
      <div class="container flex flex-col-reverse lg:flex-row items-center gap-12 mt-14 lg:mt-28">
        <!-- Content -->
        <div class="flex flex-1 flex-col items-center lg:items-start">
          <h2 class="text-bookmark-blue text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">
            a date night out of this world
          </h2>
          <p class="text-bookmark-grey text-lg text-center lg:text-left mb-6">
            The goal of DNOTW is to have space data (MR occurrences, plasma behavior, solar winds) accessible in a visible format, while also intriguing more users with creative ‘regular day-use’ implications. Made for space enthusiasts who want to have a galactic date, or someone curious about the visualization and sonification of an aspect of space on their birthday!
          </p>
          <div class="flex justify-center flex-wrap gap-6">
            <button type="button" onclick="scroll(0, 100)" class="btn btn-purple hover:bg-bookmark-white hover:text-black">
              get started!
            </button>
            <!--
            <button type="button" class="btn btn-white hover:bg-bookmark-purple hover:text-white">
              Get it on Firefox
            </button>
            -->
          </div>
        </div>
        <!-- Image -->
        <div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
          <iframe src='https://my.spline.design/untitled-4632808b9840d261d3f52200db0a1958/' class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full" frameborder='0' width='100%' height='100%'></iframe> 
        </div>
      </div>
      <!-- Rounded Rectangle -->
      <div
        class="
          hidden
          md:block
          overflow-hidden
          bg-bookmark-purple
          rounded-l-full
          absolute
          h-80
          w-2/4
          top-32
          right-0
          lg:
          -bottom-28
          lg:-right-36
        "
      ></div>
    </section>

      <!-- FAQ -->
      <section class="bg-bookmark-white py-20 mt-20 lg:mt-60">

        <div class="container">
          <!-- Heading -->
          <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
            <h1 class="text-3xl text-center text-bookmark-blue">background</h1>
            <p class="text-center text-bookmark-grey mt-4">
              learn more about the science about the <i>perfect galactic night out of this world</i>.
            </p>
          </div>
          <!-- FAQ Items -->
          <div class="flex flex-col sm:w-3/4 lg:w-5/12 mt-12 mx-auto">
            <div class="flex items-center border-b py-4">
              <span class="flex-1">What is a Magnetic Reconnection?</span>
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
            <div class="flex items-center border-b py-4">
              <span class="flex-1">What do magnetic reconnection events cause?</span>
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
            <div class="flex items-center border-b py-4">
              <span class="flex-1">What is solar winds, solar flares, and plasma?</span>
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
            <div class="flex items-center border-b py-4">
              <span class="flex-1">How are the Northern Lights formed?</span>
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
            <button type="button" class="mt-12 flex self-center btn btn-purple hover:bg-bookmark-white hover:text-black">
              More Info
            </button>
          </div>
        </div>
      </section>

    <!-- Download -->
    <section class="py-20 mt-20">
      <!-- Heading -->
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">sources</h1>
        <p class="text-center text-bookmark-grey mt-4">
          the dots and digits used to design and deliver a dazzling date for you.
        </p>
      </div>
      <!-- Cards -->
      <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 max-w-screen-lg mt-16">
        <!-- Card 1 -->
        <div class="flex flex-col rounded-md shadow-md lg:mt-2">
          <div class="p-6 flex flex-col items-center text-center">
            <img src="https://media.discordapp.net/attachments/1159600572660461599/1162674987627450488/image.png" alt="" />
            <h3 class="mt-5 mb-2 text-bookmark-blue text-lg">solar wind data</h3>
            <p class="mb-2 text-bookmark-grey font-light">NOAA's Wang-Sheeley-Arge (WSA)-Enlil is a large-scale, physics-based prediction model of the heliosphere</p>
          </div>
          <hr class="border-b border-bookmark-white" />
          <div class="flex p-6">
            <button type="button" onclick="window.location.href='https://www.ngdc.noaa.gov/enlil/';" class="flex-1 btn btn-purple hover:bg-bookmark-white hover:text-black">
              view dataset
            </button>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="flex flex-col rounded-md shadow-md lg:mt-2">
          <div class="p-6 flex flex-col items-center text-center">
            <img src="https://media.discordapp.net/attachments/1159600572660461599/1162675013829275650/image.png" alt="" />
            <h3 class="mt-5 mb-2 text-bookmark-blue text-lg">interplanetary magnetic field data</h3>
            <p class="mb-2 text-bookmark-grey font-light">NASA's OMNIWeb (from Geotail, ACE, and Wind satellites, Earth shifted)</p>
          </div>
          <hr class="border-b border-bookmark-white" />
          <div class="flex p-6">
            <button type="button" class="flex-1 btn btn-purple hover:bg-bookmark-white hover:text-black" onclick="window.location.href='https://omniweb.gsfc.nasa.gov/ftpbrowser/mag_iwa.html';">
              view dataset
            </button>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="flex flex-col rounded-md shadow-md lg:mt-2">
          <div class="p-6 flex flex-col items-center text-center">
            <img src="https://cdn.discordapp.com/attachments/1159600572660461599/1162675038462410802/image.png" alt="" />
            <h3 class="mt-5 mb-2 text-bookmark-blue text-lg">solar wind particle plasma data</h3>
            <p class="mb-2 text-bookmark-grey font-light">NASA's OMNIWeb (from Geotail, ACE, and Wind satellites, Earth shifted)</p>
          </div>
          <hr class="border-b border-bookmark-white" />
          <div class="flex p-6">
            <button type="button" onclick="window.location.href='https://omniweb.gsfc.nasa.gov/ftpbrowser/pla_iwa.html';" class="flex-1 btn btn-purple hover:bg-bookmark-white hover:text-black">
              view dataset
            </button>
          </div>
        </div>
      </div>
    </section>



  


    <!-- Features -->
    <section class="bg-bookmark-white py-20">
      <!-- Heading -->
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">Features</h1>
        <p class="text-center text-bookmark-grey mt-4">
          three steps to build your perfect date night. (imagine a calendar input for a date here). source code linked at the bottom through the github logo.
        </p>
      </div>
      <!-- Feature #1 -->
      <div class="relative mt-20 lg:mt-24">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="{{url_for('static', filename='/imgs/illustration-features-tab-1.png')}}"
              alt=""
            />
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">the date</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              learn about the magnetic reconnection events that occurred or will occur on your date, and what it means (the effects on space weather which impacts satellites and power systems; potential northern light sightings)! this information is generated by analyzing the vector components of interplanetary magnetic field data and solar wind plasma particle data from the Geotail, ACE, and Wind satellites.
            </p>
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">generate</button>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <div
          class="
            hidden
            lg:block
            overflow-hidden
            bg-bookmark-purple
            rounded-r-full
            absolute
            h-80
            w-2/4
            -bottom-24
            -left-36
          "
        ></div>
      </div>
      <!-- Feature #2 -->
      <div class="relative mt-20 lg:mt-52">
        <div class="container flex flex-col lg:flex-row-reverse items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="https://cdn.discordapp.com/attachments/1159600572660461599/1162676843254653038/animated_from_images.gif"
              alt=""
            />
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">the gift</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              want a spacey gift unique for your special day? solar wind prediction data from WSA-Enlil visualized with the enlilviz Python module used to make pretty patterns. currently, it looks like a latte art which would be cute on a coffee, but ideally it should have looked like a flower like <u><a href="https://svs.gsfc.nasa.gov/4392/">Bridgman’s gorgeous visualization</a></u>. (if given more time, the user can customize the colors of the image!)
            </p>
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">generate</button>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <div
          class="
            hidden
            lg:block
            overflow-hidden
            bg-bookmark-purple
            rounded-l-full
            absolute
            h-80
            w-2/4
            -bottom-24
            -right-36
          "
        ></div>
      </div>
      <!-- Feature #3 -->
      <div class="relative mt-20 lg:mt-52">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <!-- <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="{{url_for('static', filename='/imgs/illustration-features-tab-3.png')}}"
              alt=""
            /> -->
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DX1n9whBbBKoL?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">the music</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              set the ambiance for your date night ✨. spotify curated a playlist of songs that are out of this world. (if given more time, this would have been a sonogram of plasma data, unique to the day requested, and adjusted to the right vibe.)
            </p>
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">More Info</button>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <div
          class="
            hidden
            lg:block
            overflow-hidden
            bg-bookmark-purple
            rounded-r-full
            absolute
            h-80
            w-2/4
            -bottom-24
            -left-36
          "
        ></div>
      </div>
    </section>


    <!-- Contact Us -->
    <section class="bg-bookmark-purple text-white py-20">
      <div class="container">
        <div class="sm:w-3/4 lg:w-2/4 mx-auto">
          <p class="font-light uppercase text-center mb-8">35,000+ DEFINITELY ALREADY JOINED</p>
          <h1 class="text-3l text-center">don't have a date? contact us to find your very own astronomy aficionado to take on a perfect galactic night out of this world!</h1>
          <div class="flex flex-col sm:flex-row gap-6 mt-8">
            <input
              type="text"
              placeholder=" enter your email address"
              class="focus:outline-none flex-1 px-2 py-3 rounded-md text-black"
            />
            <button type="button" class="btn bg-bookmark-red hover:bg-bookmark-white hover:text-black">
              Contact Us
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-bookmark-blue py-8">
      <div class="container flex flex-col md:flex-row items-center">
        <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
          <img src="{{url_for('static', filename='/imgs/logo-bookmark-white.png')}}" alt="" />
          <ul class="flex text-white uppercase gap-12 text-xs">
            <li class="cursor-pointer">the date</li>
            <li class="cursor-pointer">the gift</li>
            <li class="cursor-pointer">the music</li>
          </ul>
        </div>
        <div class="flex gap-10 mt-12 md:mt-0">
          <li><a href="https://github.com/cheollie/dnotw"><i class="text-white text-2xl fab fa-square-github"></i></a></li>
        </div>
      </div>
    </footer>
  </body>
</html>
